<h2>
  Registration
</h2>
<form class="app-form narrow-form" [formGroup]="form" (ngSubmit)="handleSubmit()">
  <div class="input-container">
    <p class="errorMessage">
      {{errorMessage}}
    </p>
  </div>
  <div class="input-container">
    <label class="form-label">Name</label>
    <input class="form-input narrow-input" type="text" formControlName="name" />
  </div>

  <div class="input-container">
    <label class="form-label">Email</label>
    <input class="form-input narrow-input" type="text" formControlName="email" />
  </div>

  <div class="input-container">
    <label class="form-label">Password</label>
    <input class="form-input narrow-input" type="password" formControlName="password" />
  </div>

  <div class="input-container">
    <label class="form-label">Repeat password</label>
    <input class="form-input narrow-input" type="password" formControlName="repeatPassword" />
  </div>
  <div class="input-container">
    <input class="form-button" type="submit" />
  </div>
</form>
