header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid darkgray;
  margin-bottom: 20px; 
}

h1 {
  margin: 0;
}

nav a {
  margin-left: 1rem;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
